<%inherit file="/base.html"/>
<%def name="innercss()">
	${css_link('/static/css/game-list.css', 'screen')}
</%def>

<%def name="title()">${c.platform.name}</%def>
<%def name="heading()">
    <h1>${c.platform.id} - ${c.platform.name}</h1>
</%def>
<%def name="body()">
    <p>
        Description: ${c.platform.desc}
    </p>
    <p>
        Release Date: ${c.platform.release_date.date()}
    </p>
    <p>
        Developer: ${c.platform.developer}
    </p>
    <p>
        CPU: ${c.platform.cpu}
    </p>
    <p>
        Memory: ${c.platform.memory}
    </p>
    <p>
        Graphics: ${c.platform.graphics}
    </p>
    <p>
        Storage: ${c.platform.storage}
    </p>
    <p>
        Available Games:
        <div class="game-content">
	        <ul>
	            % for game in c.games:
		        <li><a href="/games/${game.id}">${game.title}</a></li>
	            % endfor
	        </ul>
        </div>
    </p>
    <a href="" onclick="window.history.go(-1); return false;">Go Back</a>
</%def>

<%def name="css_link(path, media='')">
	% if path not in self.seen_css:
		<link rel="stylesheet" type="text/css" href="${path|h}" media="${media}"></link>
	% endif
</%def>
